OrderPortal/Web.UI.ServiceGateway/Service References/OrderServiceProxy/Order19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.IT.Licensing.Services.Order.DataContracts.Responses.UserPreference" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.IT.Licensing.Services.Order.DataContracts.Responses.UserPreference" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bieint07.fareast.corp.microsoft.com/OrderService/Order.svc?xsd=xsd2" namespace="urn:Microsoft.IT.Licensing.Services.Order.DataContract/2012/08" />
  <xs:complexType name="GetUserPreferenceResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="urn:Microsoft.IT.Licensing.Services.Order.DataContract/2012/08" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressFormat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateFormat" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserPreferenceResponse" nillable="true" type="tns:GetUserPreferenceResponse" />
  <xs:complexType name="SetUserPreferenceResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="urn:Microsoft.IT.Licensing.Services.Order.DataContract/2012/08" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResponseStatus" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetUserPreferenceResponse" nillable="true" type="tns:SetUserPreferenceResponse" />
</xs:schema>