OrderPortal/Web.UI.ServiceGateway/Service References/OrderServiceProxy/Order15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.IT.Licensing.Services.Order.DataContracts.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.IT.Licensing.Services.Order.DataContracts.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bieint07.fareast.corp.microsoft.com/OrderService/Order.svc?xsd=xsd2" namespace="urn:Microsoft.IT.Licensing.Services.Order.DataContract/2012/08" />
  <xs:complexType name="ArrayOfVLOrdersByOpportunityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VLOrdersByOpportunityType" nillable="true" type="tns:VLOrdersByOpportunityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVLOrdersByOpportunityType" nillable="true" type="tns:ArrayOfVLOrdersByOpportunityType" />
  <xs:complexType name="VLOrdersByOpportunityType">
    <xs:sequence>
      <xs:element xmlns:q1="urn:Microsoft.IT.Licensing.Services.Order.DataContract/2012/08" minOccurs="0" name="CandidateVLOrders" nillable="true" type="q1:ArrayOfVLOrder" />
      <xs:element minOccurs="0" name="OpportunityTypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VLOrdersByOpportunityType" nillable="true" type="tns:VLOrdersByOpportunityType" />
</xs:schema>