OrderPortal/Web.UI.ServiceGateway/Service References/DraftOrderServiceProxy/DraftOrderService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DraftOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IDraftOrderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <gzip:GZipEncoding xmlns:gzip="http://schemas.microsoft.com/ws/06/2004/mspolicy/netgzip1" />
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01" location="http://mspaulilt.fareast.corp.microsoft.com/OrderService/DraftOrder.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_IDraftOrderService" type="i0:IDraftOrderService">
    <wsp:PolicyReference URI="#CustomBinding_IDraftOrderService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteDraftOrder">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/DeleteDraftOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraftOrder">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/GetDraftOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDraftOrderPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/GetDraftOrderPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDraftOrders">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/ListDraftOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDraftOrder">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/SaveDraftOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDraftOrderPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/SaveDraftOrderPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockDraftOrder">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/UnlockDraftOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockDraftOrderPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/UnlockDraftOrderPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockDraftOrderPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/LockDraftOrderPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateDraftOrderPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/ValidateDraftOrderPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDraftOrderPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/DeleteDraftOrderPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDraftOrderShipmentPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/SaveDraftOrderShipmentPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveShipmentPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/SaveShipmentPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShipmentPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/DeleteShipmentPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShipmentsPortal">
      <soap12:operation soapAction="urn:Microsoft.IT.Licensing.Services.DraftOrder/2013/01/IDraftOrderService/GetShipmentsPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DraftOrderService">
    <wsdl:port name="CustomBinding_IDraftOrderService" binding="tns:CustomBinding_IDraftOrderService">
      <soap12:address location="http://mspaulilt.fareast.corp.microsoft.com/OrderService/DraftOrder.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://mspaulilt.fareast.corp.microsoft.com/OrderService/DraftOrder.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>pauli@fareast.corp.microsoft.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>